# Application
VITE_BASE_URL=http://localhost:3000

# Database URL for PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/db_tanstack_tasks" # Better Auth configuration
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=db_tanstack_tasks

# Better Auth
# BETTER_AUTH_URL=http://localhost:3000
# Generate a secret key: `npx @better-auth/cli secret`
BETTER_AUTH_SECRET=

# OAuth2 providers, optional, update as needed
# Social Providers
# GitHub: https://github.com/settings/developers
GITHUB_CLIENT_ID=Ov23liXM9unTcMy3UzlP
GITHUB_CLIENT_SECRET=

# Google: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=311253928904-dfu1aeog7qfl426haendk3isphdq76ds.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# NOTE: OAuth callback URLs
# Set callback/redirect URIs in your OAuth apps to:`
# - GitHub: http://localhost:3000/api/auth/callback/github
# - Google: http://localhost:3000/api/auth/callback/google
